<div class="footer">
  <div>
    <p>스텔라마리나 인천광역시 남동구 논현로 46번길51(642-1)</p>
    <p>사업자 등록번호 131-86-64961</p>
  </div>
  <div>
    <p>통신판매업 신고번호 제2014-인천남동구-0615호</p>
    <p>(주)스텔라마리나호텔 대표 주영환</p>
  </div>
  <div>
  <p>Designed by sungryeol park</p>
  <p>SITEMAP - 개인정보처리방침 - 이용약관<p>
  </div>
</div>