<!-- header.ejs -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  
  <link rel="stylesheet" type="text/css" href="/pub/template.css">
  <script src="/pub/template.js"></script>
  <title>STELLAR MARINA HOTEL OFFICIAL WEBSITE | comfort business hotel at the heart of Asia</title>
</head>

<!-- end of header.ejs -->