<!-- nav.ejs -->
<div class="fixedDisp" >
<div class="navBar">
  <nav>
    <div class="navLogo" data-aos="zoom-out">
      <svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px" y="0px" width="30px" height="30px"
      viewBox="0 0 100 100" xml:space="preserve">
      <g><polygon fill="#2446C4" points="49.5,50.033
      12,12.533 12,88 87,88 87,12.533"/></g>
      </svg>
      <a href="#">STELLAR MARINA</a>
    </div>
    <a href="#">ABOUT</a>
    <a href="#">RESTAURANT</a>
    <a href="#">LOCATION</a>
    <a href="#">ROOMS</a>
    <a href="#">FACILITIES</a>
    <a href="#">OFFERS</a>
    <a href="#" class="navReserv">RESERVATION</a>
  </nav>
</div>
      
</div> <!--container for fixed display -->

<div class="topVoid"></div>
<!-- end of nav.ejs -->