<!-- sidenav.ejs -->

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/reservation">Reservation</a>
  <a href="/offers">Offers</a>
  <br />
  <a href="/about">About</a>
  <a href="/locations">Locations</a>
  <a href="/rooms">Rooms</a>
  <a href="/facilities">Facilities</a>
  <a href="/restaurant">Restaurant</a>
  <a href="/">Go Back</a>
  <p>STELLAR MARINA HOTEL</p>
</div>

<button id="btnNav" onclick="openNav()">
  <?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.0//EN'  'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'><svg enable-background="new 0 0 24 24" id="Layer_1" version="1.0" viewBox="0 0 24 24" width="25px" height="25px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><line fill="none" stroke="#ffffff" stroke-miterlimit="10" stroke-width="2" x1="2" x2="22" y1="12" y2="12"/><line fill="none" stroke="#ffffff" stroke-miterlimit="10" stroke-width="2" x1="2" x2="22" y1="6" y2="6"/><line fill="none" stroke="#ffffff" stroke-miterlimit="10" stroke-width="2" x1="2" x2="22" y1="18" y2="18"/></svg>
</button>

<!-- end of sidenav.ejs -->