<!DOCTYPE html>
<html>
  <% include partials/header %>

<body>
  <% include partials/sidenav %>
  
  <div id="main"> <!-- main part is necessary for sidenav -->

  <% include partials/nav %>
  <!-- [about.ejs] page starts from here -->
    <link rel="stylesheet" type="text/css" href="/pub/about.css">

    <div class="maininfo" style="background-image:url('https://i.imgur.com/pJQ2LSK.jpg');">
      <div>
        <h1>STELLARMARINA HOTEL</h1>
        <hr />
        <p><span>스텔라마리나 호텔</span>은 고객의 편안함과 감동을 위하여 노력합니다.</p>
        <p>
          본 호텔은 비즈니스 호텔에 걸맞은 전문적인 시설과 최고의 서비스를 갖춘 호텔로서, 2013년 10월에 인천 논현동
          호구포역 맞은편에 개관하였습니다
        </p>
        <p>
          지하 3층부터 지상 27층으로 이루어진 스텔라마리나 호텔은 인천공항과 30분 거리에
          위치해 편리한 교통망을 갖추고 있으며, 총 250개 객실의 세련되고 아늑한 분위기의
          인테리어로 인천을 찾으시는 관광객과 기업체 바이어들에게 안락하고 편안한 호텔
          서비스를 제공해 드리고 있습니다.
        </p>
        <p>
          또한, 주상복합 형태의 스텔라마리나 호텔은 인근에 다양한 먹거리와 볼거리를 갖추고
          있어 문화, 관광, 쇼핑, 비즈니스를 함께 즐길 수 있는 새로운 서비스 영역을
          개척함으로 Business Hotel로서 고객감동의 선두주자가 될 것을 약속드립니다.
        </p>
      </div>
    </div>
    <div class="yearlyinfo">
      <h1>각종 연혁</h1>
      <table>
        <tr>
          <td>2013 3.</td>
          <td>태국 배구선수단 국내전 참가 숙소</td>
        </tr>
        <tr>
          <td>2015 2.</td>
          <td>미국 ICOU 연합 공동훈련 숙소</td>
        </tr>
        <tr>
          <td>2016 2.</td>
          <td>미국 ICOU 연합 공동훈련 숙소</td>
        </tr>
        <tr>
          <td>2016 12.</td>
          <td>한국럭비연맹 제 1차 세미나 공동 개최</td>
        </tr>
        <tr>
          <td>2016 12.</td>
          <td>인천빙상경기연맹과 상생 협약</td>
        </tr>
      </table>
    </div>

  <!-- [about.ejs] page ends from here -->

  </div>
  <!-- end of main -->

  <% include partials/footer %>
</body>
</html>