<!DOCTYPE html>
<html>
  <% include partials/header %>

<body>
  <% include partials/sidenav %>
  
  <div id="main"> <!-- main part is necessary for sidenav -->

  <% include partials/nav %>
  <!-- [insert name here] page starts from here -->
    <link rel="stylesheet" type="text/css" href="/pub/about.css">
    <div class="imgcont">
      <img src="http://stellarmarinahotel.com/images/sub01/sub01.jpg">
    </div>
  <!-- [insert name here] page ends from here -->

  </div>
  <!-- end of main -->

  <% include partials/footer %>
</body>
</html>