<!DOCTYPE html>
<html>
  <% include partials/header %>

<body>
  <% include partials/sidenav %>
  
  <div id="main"> <!-- main part is necessary for sidenav -->

  <% include partials/nav %>
  <!-- [insert name here] page starts from here -->
  <link rel="stylesheet" type="text/css" href="/pub/facilities.css">
  <div class="elemFacility" data-aos="flip-left">
    <div class="faImg imgResponsive" style="background-image:url('https://i.imgur.com/DAbqy8P.jpg');"></div>
    <div class="faDesc">
      <h1>휘트니스 센터/GYM</h1>
      <hr />
      <p>투숙 중인 고객님을 위하여 런닝머신 및 각종 운동기구가 완비되어 있으며 투숙 중에 무료로 이용 가능합니다. 이용시간: 아침 6시~저녁 10시</p>
    </div>
  </div>

  <div class="elemFacility" data-aos="flip-right">
    <div class="faDesc">
      <h1>컨퍼런스 룸/CONFERENCE ROOM</h1>
      <hr />
      <p>업무 진행을 위한 단체 고객님을 위하여 대규모 인원을 수용할 수 있는 회의실이 마련되어 있습니다.</p>
    </div>
    <div class="faImg imgResponsive" style="background-image:url('https://i.imgur.com/Ix9futT.jpg');"></div>
  </div>

  <div class="elemFacility" data-aos="flip-left">
      <div class="faImg imgResponsive" style="background-image:url('http://www.cassiolmoraes.com/wp-content/uploads/2018/02/garagem-720x460.jpg');"></div>
    <div class="faDesc">
      <h1>주차장/PARKING SPACE</h1>
      <hr />
      <p>투숙 기간 동안 무제한 무료로 사용 가능한 주차장이 지하 3층부터 지상 6층까지 마련되어 있습니다.</p>
    </div>
  </div>
  <!-- [insert name here] page ends from here -->

  </div>
  <!-- end of main -->

  <% include partials/footer %>
</body>
</html>