<!DOCTYPE html>
<html>
  <% include partials/header %>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js"></script>
    <script>
      function updateEvent(dataEvent,eventId){
        var curevn = events[eventId]
          $('#currentEvent').attr("href", curevn.link)
          $('#currentEvent').html("<p>" + curevn.title + "</p>" + 
                      "<p>" + curevn.brief + "</p>" + 
                       "<p>" + moment(curevn.datestart).format("YYYY.MM.DD~") +  
                       moment(curevn.dateend).format("YYYY.MM.DD") + "</p>");
      }

      function automateEvent(dataEvent){
        var eventMax = dataEvent.length - 1;
        var eventCurrent = 0;
        setInterval(function(){
          updateEvent(dataEvent,eventCurrent);
          eventCurrent ++;
          if(eventCurrent > eventMax) eventCurrent = 0;
          console.log(eventCurrent,eventMax);
        },1000);
      }

      $.getJSON('/eventJSON',(dataEvent) => {
        if(dataEvent.length === 0){
          $('#currentEvent').html("<p>현재 진행중인 이벤트가 없습니다.</p>")
        }else if(dataEvent){
          events = Object.assign(dataEvent);
          automateEvent(dataEvent);
        }
      })
    </script>
    <p>현재 진행중인 이벤트</p>
    <a id="currentEvent" href="#"></a>
    <% include partials/footer %>
  </body>
</html>