<!DOCTYPE html>
<html>
  <% include partials/header %>

<body>
  <% include partials/sidenav %>
  
  <div id="main"> <!-- main part is necessary for sidenav -->
  <div id="divBack" class="animBack"></div>
  <% include partials/nav %>
  <!-- [insert name here] page starts from here -->
    <link rel="stylesheet" type="text/css" href="/pub/index.css">
    <link rel="stylesheet" type="text/css" href="/pub/carousel.css">

    <div class="titleWelcome" data-aos="zoom-out">
      <svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px" y="0px" width="65px" height="65px"
      viewBox="0 0 100 100" xml:space="preserve">
      <g><polygon fill="#2446C4" points="49.5,50.033
      12,12.533 12,88 87,88 87,12.533"/></g></svg>
      <h1>STELLAR MARINA</h1>
      <h2>스텔라 마리나 호텔</h2>
      <hr/>
      <p><a href="#">한국어</a> · <a href="#">中文</a> · <a href="#">日本語</a> · <a href="#">English</a></p>
    </div>
    
    <div class="container">
      <div id="slider">
        <div class="slide-left">
          <svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" width="25px" height="25px" viewBox="0 0 100 100" xml:space="preserve">
          <polygon points="91,50 91,97.401 49.956,73.701 8.909,50 49.955,26.298 91,2.599 " fill="white"/>
          </svg>
        </div>
        <div class="slide-right">
          <svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" width="25px" height="25px" viewBox="0 0 100 100" xml:space="preserve">
          <polygon points="9,50.001 9,2.6 49.998,26.3 91.022,50.001 50.01,73.702 9,97.402 " fill="white"/>
         </svg>
        </div>
        <% events.forEach(function (el){ %>
          <article>
            <div>
              <a href="/offers?eventid=<%= el.eventid %>">
                <% if (el.bannerimage) { %>
                <img src="/pub/<%= el.bannerimage %>"/>
                <% }else{ %>
                <h1><%= el.title %></h1>
                <% } %>
              </a>
            </div>
          </article>
        <% }); %>
      </div>
    </div>


    <div class="downInfo">
      <button class="carouselHide">&times;</button>
      <p>tel. 032-426-1100</p>
      <p>fax. 032-422-2211</p>
      <p>mail. rsv@stellarmarinahotel.com</p>
    </div>

    <div class="whitePage">
      <div class="gray">
        <p>A True Modern Business Hotel in The Heart of Incheon since 2013</p>
        <hr />
        <p>2013년 개관, 인천의 심장에 위치한 모던 비즈니스호텔</p>
      </div>
        
      <div class="imgResponsive size600" style="background-image:url('https://i.imgur.com/gEnOuqL.jpg');" /> </div>
      <table>
        <tr>
          <td>객실 수</td>
          <td>250</td>
        </tr>
        <tr>
          <td>그랜드 오픈</td>
          <td>2013년</td>
        </tr>
        <tr>
          <td>위치</td>
          <td>역에서 3분거리 역세권 위치</td>
        </tr>
        <tr>
          <td>특징</td>
          <td>모던하고 넓은 객실, 부페, 무료 주차</td>
        </tr>
      </table>

      <div class="imgResponsive size600" style="background-image:url('https://i.imgur.com/qrAyrjm.jpg');" /> </div>

      <div class="info1">스텔라 마리나 호텔은 인천공항에서 30분, 논현역과는 15분 정도 거리로 각종 편의시설에서 가까우며 교통이 편리한 비즈니스 호텔입니다.</div>

    </div>

    <script src="/pub/kiwwwi-slider.min.js"></script>
    <script src="/pub/index.js"></script>

  <!-- [insert name here] page ends from here -->

  </div>
  <!-- end of main -->

  <% include partials/footer %>
</body>
</html>