<!DOCTYPE html>
<html>
  <% include partials/header %>

<body>
  <% include partials/sidenav %>
  
  <div id="main"> <!-- main part is necessary for sidenav -->

  <% include partials/nav %>
  <!-- [insert name here] page starts from here -->
    <link rel="stylesheet" type="text/css" href="/pub/restaurant.css">
    <div class="foodBack">
      <svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px" y="0px" width="65px" height="65px"
      viewBox="0 0 100 100" xml:space="preserve">
      <g><polygon fill="#2446C4" points="49.5,50.033
      12,12.533 12,88 87,88 87,12.533"/></g></svg>
      <h1>스텔라마리나 부페 식당</h1>
      <p>재료와 맛을 엄선하여 만든 다양한 메뉴가 준비되어 있습니다</p>
      <p>운영시간: 오전 7시 ~ 오전 9시 / 오전 11시 ~ 오후 2시<br>
        위치: 6층 스텔라 마리나 호텔 로비 옆</p>
    </div>
    <div class="foodDivide">
      <div class="brk">
      </div>
      <div class="lnc">
        <div class="foodMenu">
          <ul>
            <li><h2>중식 메뉴</h2></li>
            <li>토스트</li>
            <li>죽/밥류</li>
            <li>국/탕류</li>
            <li>면류</li>
            <li>퓨전 음식</li>
            <li>후식</li>
          </ul>
          <ul>
            <li><h2>조식 메뉴</h2></li>
            <li>토스트</li>
            <li>죽/밥류</li>
            <li>면류</li>
            <li>시리얼</li>
          </ul>

        </div>
      </div>
    </div>
  <!-- [insert name here] page ends from here -->

  </div>
  <!-- end of main -->

  <% include partials/footer %>
</body>
</html>