<!DOCTYPE html>
<html>
  <% include partials/header %>

<body>
  <% include partials/sidenav %>
  
  <div id="main"> <!-- main part is necessary for sidenav -->

  <% include partials/nav %>
  <!-- [insert name here] page starts from here -->
    <div>
      필요한 내용은 이곳에 써 주세요. 템플릿 페이지 입니다.
    </div>
  <!-- [insert name here] page ends from here -->

  </div>
  <!-- end of main -->

  <% include partials/footer %>
</body>
</html>