<!DOCTYPE html>
<html>
  <% include partials/header %>

<body>
  <% include partials/sidenav %>
  
  <div id="main"> <!-- main part is necessary for sidenav -->

  <% include partials/nav %>
  <!-- [insert name here] page starts from here -->
    <link rel="stylesheet" type="text/css" href="/pub/restaurant.css">
    <div class="foodBack">
      <svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px" y="0px" width="65px" height="65px"
      viewBox="0 0 100 100" xml:space="preserve">
      <g><polygon fill="#2446C4" points="49.5,50.033
      12,12.533 12,88 87,88 87,12.533"/></g></svg>
      <h1>스텔라마리나 부페 식당</h1>
      <h2>재료와 맛을 엄선하여 만든 다양한 메뉴가 준비되어 있습니다</h2>
      <p>운영시간: 오전 7시 ~ 오전 9시 / 오전 11시 ~ 오후 2시<br>
        위치: 6층 스텔라 마리나 호텔 로비 옆</p>
    </div>
    <div class="foodDivide">
      <div class="brk">
      </div>
      <div class="lnc">
        <div class="foodMenu">
          <h2>중식 메뉴</h2>
          <p>경양식과 한식이 한데 어우러진 다양한 스타일의 점심이 제공됩니다. 면, 밥, 탕 등의 다양한 요리를 맛보실 수 있습니다. 후식으로 커피와 아이스크림이 제공되며 저렴한 가격으로 외국인과 내국인, 남녀노소에 관계 없이 만족할 수 있는 구성입니다. </p>
          <h2>조식 메뉴</h2>
          <p>편안한 아침을 위해 정갈한 아메리칸&콘티넨탈 스타일 조식이 준비되어 있습니다. 토스트, 죽/탕, 면, 간단한 샐러드 등이 제공됩니다.</p>
          <h2>단체 및 예약 환영</h2>
          <p>연회, 파티 및 모임을 위한 큰 규모의 단체도 사전 예약시 식사가 가능합니다. 특수 연회실 및 노래방 기계 및 스크린이 준비되어 있습니다. </p>
        </div>
      </div>
    </div>
  <!-- [insert name here] page ends from here -->

  </div>
  <!-- end of main -->

  <% include partials/footer %>
</body>
</html>