<!DOCTYPE html>
<html>
  <% include partials/header %>

<body>
  <% include partials/sidenav %>
  
  <div id="main"> <!-- main part is necessary for sidenav -->

  <% include partials/nav %>
  <!-- [rooms.ejs] page starts from here -->
    <link rel="stylesheet" type="text/css" href="/pub/rooms.css">
    <script src="/pub/rooms.js"></script>

    <div class="tablecont">
      <!-- table1 -->
      <div>
      <table>
        <thead>
          <tr>
            <th class="img rm-db" colspan="2">
              <h2>디럭스 더블<br>DELUXE DOUBLE</h1>
              <a href="#">사진 보기</a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <?xml version="1.0" encoding="utf-8"?>
              <svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" width="35px" height="35px" viewBox="0 0 100 100" xml:space="preserve">
              <g>
              <path fill-rule="evenodd" d="M6.141,54.639c0.182-0.793,0.345-1.591,0.547-2.379c1.194-4.65,3.959-8.112,8.106-10.445
                c2.316-1.303,4.856-1.961,7.53-1.973c3.864-0.018,7.728-0.008,11.591-0.004c0.276,0,0.553,0.049,0.888,0.08
                c0.241,4.246,1.843,7.886,4.833,10.88c-10.522,4.077-14.692,11.937-13.905,22.821c-0.197,0.014-0.305,0.033-0.41,0.027
                c-6.038-0.347-11.914-1.559-17.694-3.288c-0.491-0.147-0.99-0.265-1.486-0.396C6.141,64.854,6.141,59.746,6.141,54.639z"/>
              <path fill-rule="evenodd" d="M94.141,69.681c-5.716,2.84-11.856,3.761-18.224,4.09c-0.017-0.357-0.041-0.651-0.041-0.946
                c-0.002-2.435,0.082-4.876-0.453-7.276c-0.946-4.248-3.059-7.804-6.335-10.672c-2.085-1.824-4.473-3.108-7.169-3.99
                c0.505-0.595,0.985-1.128,1.429-1.69c2.004-2.532,3.096-5.425,3.357-8.633c0.039-0.478,0.085-0.763,0.701-0.755
                c3.747,0.049,7.498-0.043,11.241,0.097c4.366,0.163,8.025,2.008,11.02,5.17c2.374,2.507,3.762,5.497,4.285,8.901
                c0.034,0.225,0.124,0.441,0.188,0.662C94.141,59.653,94.141,64.667,94.141,69.681z"/>
              <path fill-rule="evenodd" d="M50.808,53.208c2.225,0,4.455-0.097,6.672,0.021c3.779,0.201,7.056,1.682,9.865,4.217
                c2.624,2.367,4.296,5.294,5.048,8.72c0.269,1.224,0.342,2.509,0.355,3.767c0.042,4.122,0.006,8.245,0.028,12.368
                c0.003,0.548-0.165,0.82-0.674,1.056c-4.415,2.041-9.097,2.975-13.896,3.476c-7.897,0.825-15.659-0.002-23.333-1.882
                c-1.862-0.457-3.694-1.037-5.547-1.532c-0.422-0.112-0.544-0.318-0.543-0.732c0.013-4.404-0.092-8.811,0.038-13.211
                c0.19-6.41,3.151-11.241,8.754-14.388c2.503-1.405,5.242-1.962,8.102-1.956c1.71,0.004,3.42,0.001,5.13,0.001
                C50.808,53.157,50.808,53.183,50.808,53.208z"/>
              <path fill-rule="evenodd" d="M50.811,26.465c7.17,0.021,12.879,5.761,12.848,12.918c-0.03,7.129-5.764,12.859-12.861,12.854
                c-7.147-0.005-12.958-5.845-12.903-12.97C37.948,32.161,43.715,26.445,50.811,26.465z"/>
              <path fill-rule="evenodd" d="M28.761,38.872c-6.046,0.239-11.271-3.584-12.968-9.19c-1.669-5.515,0.605-11.581,5.531-14.575
                c4.254-2.585,8.69-2.742,13.02-0.359c4.382,2.412,6.586,6.296,6.666,11.325c0.005,0.327-0.14,0.773-0.376,0.971
                c-2.928,2.452-4.739,5.559-5.512,9.277c-0.098,0.468-0.314,0.712-0.714,0.937C32.53,38.314,30.519,38.836,28.761,38.872z"/>
              <path fill-rule="evenodd" d="M72.164,13.125c6.132,0.027,11.417,4.357,12.645,10.359c1.247,6.101-2.285,12.44-8.086,14.569
                c-3.127,1.147-6.219,1.1-9.33-0.059c-0.582-0.217-0.764-0.566-0.849-1.118c-0.601-3.912-2.478-7.114-5.457-9.687
                c-0.441-0.381-0.961-0.674-1.388-1.069c-0.205-0.19-0.407-0.53-0.392-0.789c0.263-4.303,2.207-7.671,5.768-10.083
                C67.205,13.808,69.593,13.139,72.164,13.125z"/>
              </g>
              </svg>
            </td>
            <td class="ra">1~2 명</td>
          </tr>
          <tr>
            <td>침대</td>
            <td class="ra">더블1</td>
          </tr>
        </tbody>
      </table>
      </div>

      <!-- table2 -->
      <div>
      <table>
        <thead>
          <tr>
            <th class="img rm-tw" colspan="2">
              <h2>디럭스 트윈<br>DELUXE DOUBLE</h1>
              <a href="#">사진 보기</a>
            </th>
        </thead>
        <tbody>
          <tr>
            <td>
              <?xml version="1.0" encoding="utf-8"?>
              <svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" width="35px" height="35px" viewBox="0 0 100 100" xml:space="preserve">
              <g>
              <path fill-rule="evenodd" d="M6.141,54.639c0.182-0.793,0.345-1.591,0.547-2.379c1.194-4.65,3.959-8.112,8.106-10.445
                c2.316-1.303,4.856-1.961,7.53-1.973c3.864-0.018,7.728-0.008,11.591-0.004c0.276,0,0.553,0.049,0.888,0.08
                c0.241,4.246,1.843,7.886,4.833,10.88c-10.522,4.077-14.692,11.937-13.905,22.821c-0.197,0.014-0.305,0.033-0.41,0.027
                c-6.038-0.347-11.914-1.559-17.694-3.288c-0.491-0.147-0.99-0.265-1.486-0.396C6.141,64.854,6.141,59.746,6.141,54.639z"/>
              <path fill-rule="evenodd" d="M94.141,69.681c-5.716,2.84-11.856,3.761-18.224,4.09c-0.017-0.357-0.041-0.651-0.041-0.946
                c-0.002-2.435,0.082-4.876-0.453-7.276c-0.946-4.248-3.059-7.804-6.335-10.672c-2.085-1.824-4.473-3.108-7.169-3.99
                c0.505-0.595,0.985-1.128,1.429-1.69c2.004-2.532,3.096-5.425,3.357-8.633c0.039-0.478,0.085-0.763,0.701-0.755
                c3.747,0.049,7.498-0.043,11.241,0.097c4.366,0.163,8.025,2.008,11.02,5.17c2.374,2.507,3.762,5.497,4.285,8.901
                c0.034,0.225,0.124,0.441,0.188,0.662C94.141,59.653,94.141,64.667,94.141,69.681z"/>
              <path fill-rule="evenodd" d="M50.808,53.208c2.225,0,4.455-0.097,6.672,0.021c3.779,0.201,7.056,1.682,9.865,4.217
                c2.624,2.367,4.296,5.294,5.048,8.72c0.269,1.224,0.342,2.509,0.355,3.767c0.042,4.122,0.006,8.245,0.028,12.368
                c0.003,0.548-0.165,0.82-0.674,1.056c-4.415,2.041-9.097,2.975-13.896,3.476c-7.897,0.825-15.659-0.002-23.333-1.882
                c-1.862-0.457-3.694-1.037-5.547-1.532c-0.422-0.112-0.544-0.318-0.543-0.732c0.013-4.404-0.092-8.811,0.038-13.211
                c0.19-6.41,3.151-11.241,8.754-14.388c2.503-1.405,5.242-1.962,8.102-1.956c1.71,0.004,3.42,0.001,5.13,0.001
                C50.808,53.157,50.808,53.183,50.808,53.208z"/>
              <path fill-rule="evenodd" d="M50.811,26.465c7.17,0.021,12.879,5.761,12.848,12.918c-0.03,7.129-5.764,12.859-12.861,12.854
                c-7.147-0.005-12.958-5.845-12.903-12.97C37.948,32.161,43.715,26.445,50.811,26.465z"/>
              <path fill-rule="evenodd" d="M28.761,38.872c-6.046,0.239-11.271-3.584-12.968-9.19c-1.669-5.515,0.605-11.581,5.531-14.575
                c4.254-2.585,8.69-2.742,13.02-0.359c4.382,2.412,6.586,6.296,6.666,11.325c0.005,0.327-0.14,0.773-0.376,0.971
                c-2.928,2.452-4.739,5.559-5.512,9.277c-0.098,0.468-0.314,0.712-0.714,0.937C32.53,38.314,30.519,38.836,28.761,38.872z"/>
              <path fill-rule="evenodd" d="M72.164,13.125c6.132,0.027,11.417,4.357,12.645,10.359c1.247,6.101-2.285,12.44-8.086,14.569
                c-3.127,1.147-6.219,1.1-9.33-0.059c-0.582-0.217-0.764-0.566-0.849-1.118c-0.601-3.912-2.478-7.114-5.457-9.687
                c-0.441-0.381-0.961-0.674-1.388-1.069c-0.205-0.19-0.407-0.53-0.392-0.789c0.263-4.303,2.207-7.671,5.768-10.083
                C67.205,13.808,69.593,13.139,72.164,13.125z"/>
              </g>
              </svg>
            </td>
            <td class="ra">2~3 명</td>
          </tr>
          <tr>
            <td>침대</td>
            <td class="ra">더블1, 싱글1</td>
          </tr>
        </tbody>
      </table>
      </div>

      <!-- table3 -->
      <div>
      <table>
        <tbody>
          <tr>
            <th class="img rm-sut" colspan="2">
              <h2>디럭스 스위트<br>DELUXE DOUBLE</h1>
              <a href="#">사진 보기</a>
            </th>
          </tr>
          <tr>
            <td>
              <?xml version="1.0" encoding="utf-8"?>
              <svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" width="35px" height="35px" viewBox="0 0 100 100" xml:space="preserve">
              <g>
              <path fill-rule="evenodd" d="M6.141,54.639c0.182-0.793,0.345-1.591,0.547-2.379c1.194-4.65,3.959-8.112,8.106-10.445
                c2.316-1.303,4.856-1.961,7.53-1.973c3.864-0.018,7.728-0.008,11.591-0.004c0.276,0,0.553,0.049,0.888,0.08
                c0.241,4.246,1.843,7.886,4.833,10.88c-10.522,4.077-14.692,11.937-13.905,22.821c-0.197,0.014-0.305,0.033-0.41,0.027
                c-6.038-0.347-11.914-1.559-17.694-3.288c-0.491-0.147-0.99-0.265-1.486-0.396C6.141,64.854,6.141,59.746,6.141,54.639z"/>
              <path fill-rule="evenodd" d="M94.141,69.681c-5.716,2.84-11.856,3.761-18.224,4.09c-0.017-0.357-0.041-0.651-0.041-0.946
                c-0.002-2.435,0.082-4.876-0.453-7.276c-0.946-4.248-3.059-7.804-6.335-10.672c-2.085-1.824-4.473-3.108-7.169-3.99
                c0.505-0.595,0.985-1.128,1.429-1.69c2.004-2.532,3.096-5.425,3.357-8.633c0.039-0.478,0.085-0.763,0.701-0.755
                c3.747,0.049,7.498-0.043,11.241,0.097c4.366,0.163,8.025,2.008,11.02,5.17c2.374,2.507,3.762,5.497,4.285,8.901
                c0.034,0.225,0.124,0.441,0.188,0.662C94.141,59.653,94.141,64.667,94.141,69.681z"/>
              <path fill-rule="evenodd" d="M50.808,53.208c2.225,0,4.455-0.097,6.672,0.021c3.779,0.201,7.056,1.682,9.865,4.217
                c2.624,2.367,4.296,5.294,5.048,8.72c0.269,1.224,0.342,2.509,0.355,3.767c0.042,4.122,0.006,8.245,0.028,12.368
                c0.003,0.548-0.165,0.82-0.674,1.056c-4.415,2.041-9.097,2.975-13.896,3.476c-7.897,0.825-15.659-0.002-23.333-1.882
                c-1.862-0.457-3.694-1.037-5.547-1.532c-0.422-0.112-0.544-0.318-0.543-0.732c0.013-4.404-0.092-8.811,0.038-13.211
                c0.19-6.41,3.151-11.241,8.754-14.388c2.503-1.405,5.242-1.962,8.102-1.956c1.71,0.004,3.42,0.001,5.13,0.001
                C50.808,53.157,50.808,53.183,50.808,53.208z"/>
              <path fill-rule="evenodd" d="M50.811,26.465c7.17,0.021,12.879,5.761,12.848,12.918c-0.03,7.129-5.764,12.859-12.861,12.854
                c-7.147-0.005-12.958-5.845-12.903-12.97C37.948,32.161,43.715,26.445,50.811,26.465z"/>
              <path fill-rule="evenodd" d="M28.761,38.872c-6.046,0.239-11.271-3.584-12.968-9.19c-1.669-5.515,0.605-11.581,5.531-14.575
                c4.254-2.585,8.69-2.742,13.02-0.359c4.382,2.412,6.586,6.296,6.666,11.325c0.005,0.327-0.14,0.773-0.376,0.971
                c-2.928,2.452-4.739,5.559-5.512,9.277c-0.098,0.468-0.314,0.712-0.714,0.937C32.53,38.314,30.519,38.836,28.761,38.872z"/>
              <path fill-rule="evenodd" d="M72.164,13.125c6.132,0.027,11.417,4.357,12.645,10.359c1.247,6.101-2.285,12.44-8.086,14.569
                c-3.127,1.147-6.219,1.1-9.33-0.059c-0.582-0.217-0.764-0.566-0.849-1.118c-0.601-3.912-2.478-7.114-5.457-9.687
                c-0.441-0.381-0.961-0.674-1.388-1.069c-0.205-0.19-0.407-0.53-0.392-0.789c0.263-4.303,2.207-7.671,5.768-10.083
                C67.205,13.808,69.593,13.139,72.164,13.125z"/>
              </g>
              </svg>
            </td>
            <td class="ra">1~3 명</td>
          </tr>
          <tr>
            <td>침대</td>
            <td class="ra">*객실에 따라 다름</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  
    <div class="servicecont">
    <h1>객실 서비스</h1>
    <hr/>
    <table class="service">
      <tbody>
        <tr>
          <td>무료 WIFI 및 인터넷</td>
          <td>무료 생수 2병 제공</td>
          <td>무료 어메니티</td>
          <td>전 객실 냉장고</td>
        </tr>
      </tbody>
    </table>
  
    <table class="service">
      <tbody>
        <tr>
          <td>고해상도 LED TV<br>CCTV,NHK</td>
          <td>무료 휘트니스 센터</td>
          <td>무료 주차<br>(지하3층~지상6층)</td>
          <td>세미나실 및 각종 업무공간<br>(문의 요망)</td>
        </tr>
      </tbody>
    </table>
    </div>

  <!-- [rooms.ejs] page ends from here -->

  </div>
  <!-- end of main -->

  <% include partials/footer %>
</body>
</html>