.container{
    margin: auto;
    max-width: 1200px;
}

.container>h1{
    padding: 3rem 0;
    font-size: 3rem;
    text-align: center;
}

.container>h2{
    padding: 2rem 0;
    font-size: 2rem;
    text-align: center;
}

#slider article{
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.slide-left,
.slide-right{
    top: 14rem;
    padding: 0.5rem 1rem;
    font-family: sans-serif;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    transition:400ms;
    opacity:0.4;
}

.slide-left:hover,
.slide-right:hover{
    transition:400ms;
    background-color: rgba(0, 0, 0, 0.25);
    opacity:1;
}

.slide-left{
    left: 1rem;
}

.slide-right{
    right: 1rem;
}