@keyframes BGzoom {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    opacity:0;
  }
  2%{
    opacity:1;
  }
  97%{
    opacity:1;
  }
  100% {
    opacity:0;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -ms-transform:scale (1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
  }
}
.animBack{
  /* for animation keyframes, use '0s' instead of '0' when writing delays*/
  animation:BGzoom 35s linear 0s infinite;
  -webkit-animation:BGzoom 35s linear 0s infinite;
  -mos-animation:BGzoom 35s linear 0s infinite;
  -ms-animation:BGzoom 35s linear 0s infinite;
  -o-animation:BGzoom 35s linear 0s infinite;
}

#divBack{
  background-image:url('https://cdn4.hotelopia.com/giata/bigger/41/415419/415419a_hb_a_008.jpg');
  background-size:cover;
  display:block;
  position:fixed;
  width:100%;
  height:100%;
  transform:translateX(-50%),translateY(-50%);
  z-index:-100;
  
  background-color: gray;
  background-blend-mode: multiply;
}

.navBarScrollUp{
  background-color:transparent;
  box-shadow:none;
  margin-left:25px;
  width:calc(100% - 25px);
}

.navBar.navBarScrollUp > nav a {
  color:white;
}

.navBar.navBarScrollUp a:hover{
  color:#3366FF;
}

.navBar > nav{
  max-width:1200px;
}

.titleWelcome {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  margin-bottom:45px;
}

.titleWelcome h1,h2 {
  text-shadow:0 2px 2px black;
  margin:0;
  padding:0;
}

.titleWelcome hr{
  border-width: 0 0 1px 0;
  border-style:solid white;
  box-shadow:0 2px 2px black;
  width:90%;
  max-width:400px;
  margin:20px;
}

.carouselHide{
  background:transparent;
  border:none;
  font-size:30px;
  color:white;
  transition:0.4s;
  opacity:0.4;
}
.carouselHide:hover{
  background:rgba(0,0,0,0.4);
  transition:0.4s;
  opacity:1;
}

body{
  color:white;
}

.downInfo{
  text-align:center;
}
.downInfo > p{
  margin:0;
  text-shadow:0 2px 2px black;
}

.whitePage{
  background-color:white;
  color:black;
  margin-top:50px;
  padding:20px;
  text-align:center;
}

.whitePage img{
  margin:30px;
}

.gray{
  text-align:center;
  background-color:lightgray;
  color:rgba(0,0,0,0.6);
  padding:100px;
  box-sizing:border-box;
}
.gray > h1 {
  margin:0;
}
.gray hr{
  border:1px solid rgba(0,0,0,0.4);
  max-width:600px;
}

/* below 900px width */
@media only screen and (max-width: 900px) {

}

/* wider than 900px width */
@media only screen and (min-width: 900px) {

}
