#main > h1, #main > p{
  margin-left:10%;
  margin-right:10%;
}

.caution p{
  margin-left:10%;
  margin-right:10%;
  color:white;
  text-shadow:0 2px 2px black;
}

.caution{
  background-color:#3366FF;
  box-shadow:inset 0 10px 20px rgba(0,0,0,0.4);
  padding:20px 0 20px 0;
  margin-top:40px;
}

.btnCont{
  margin: 40px 10% 40px 10%;
}

.btnCont a{
  padding:10px;
  border-radius:20px;
  background-color:darkgray;
  color:white;
  border:solid 1px transparent;
  margin:0;
  transition:0.5s;
  text-decoration:none;
}

.btnCont a:hover{
  background-color:transparent;
  color:darkgray;
  border:solid 1px darkgray;
  transition:0.5s;
}

.placesCont{
  margin-left:10%;
  margin-right:10%;
  display:flex;
  flex-wrap:wrap;

}

.elemPlace {
  width:300px;
  height:350px;
  padding:10px;
  text-decoration:none;
  color:black;
}
.elemPlace p, .elemPlace h4{
  margin:0;
}

.elemPlace:hover{
  background-color:lightgray;
}

.elemPlace img{
  width:100%;
  max-height:200px;
}

#lightbox{
  top:0;
  left:0;
  right:0;
  bottom:0;
  position:fixed;
  background-color:rgba(0,0,0,0.9);
  width:100%;
  height:100%;
  padding-top:80px;
  visibility:hidden;
}

#lightbox h1, #lightbox p{
  color:white;
  margin-left:5%;
  margin-right:5%;

}

#lightbox a{
  margin-right:5px;
  padding:7px;
  border-radius:20px;
  text-decoration:none;
  color:white;
  background-color:transparent;
  border:solid 1px white;
  opacity:0.7;
  transition:0.5s;
}

#lightbox a:hover{
  color:black;
  background-color:white;
  border:solid 1px transparent;
  transition:0.5s;
}

#lightboxImg{
  width:100%;
  min-height:400px;
  height:60%;
  background-position:center;
  background-size:cover;
}

.hide{
  display:none;
}