hr{
  border:1px solid black;
}
.offersCont{
  margin-left:20px;
  margin-right:20px;
}
.offersCont img{
  width:400px;
}

.elemOffer{
  display:flex;
}
.offerdesc{
  flex-grow:1;
  padding-left:20px;
}

#gallery{
  margin:0;
  position:fixed;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.4);
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  overflow-y:scroll;
}

#gallery * {
  text-align:center;
  color:white;
  text-decoration:none;
  margin:0;
  padding:0;
}

@media only screen and (max-width: 800px) {
  .elemOffer{
    flex-direction:column;
    align-items:center;
  }
  .offerdesc{
    text-align:center;
  }
  .offerdesc h1,p{
    margin:0;
  }
  #gallery{
    top:0;
  }
}
