.foodBack{
  background-image:url("https://upload.wikimedia.org/wikipedia/commons/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg");
  background-size:cover;
  background-position:center;
  width:100%;
  height:500px;
  
  background-color: gray;
  background-blend-mode: multiply;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.foodBack > h1, .foodBack > h2, .foodBack > p{
  color:white;
  text-shadow:0 2px 2px black;
}
.foodBack > h2{
  font-weight:200;
}

.foodBack p{
  padding:25px;
  border-top:1px solid white;
  border-bottom:1px solid white;
}

.foodDivide{
  width:100%;
  display:flex;
}
.foodDivide > div{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  height:500px;

  background-size:cover;
  background-position:center;
}

.foodMenu{
  padding:5%;
}
.foodMenu h2{
  padding-bottom:20px;
  border-bottom:solid 1px #3366FF;
  width:220px;
}

.foodMenu ul{
  list-style-type:none;
  margin-left:-40px;
  text-align:center;
}

.brk{
  width:70%;
  background-image:url("https://144f2a3a2f948f23fc61-ca525f0a2beaec3e91ca498facd51f15.ssl.cf3.rackcdn.com/uploads/food_portal_data/recipes/recipe/hero_article_image/1305/letterbox_resizeimage593x426xA6SozL86Xx.jpg");
}
.lnc{
  width:40%;
  min-width:400px;
}

@media only screen and (max-width: 800px) {

  .topVoid{
    height:0px;
  }

  .brk{
    width:100%;
  }
  .lnc{
    width:100%;
  }
  .foodDivide{
    flex-direction:column;
  }
}
