.img{
  background-position:center;
  background-size:cover;
  background-color: rgba(0,0,0,0.4);
  background-blend-mode: multiply;
}
.img:hover{
  transition:0.5s ease-in-out;
  background-color:white;
  color:#3366FF;
}

.img a{
  color:white;
  padding:10px;
  border:1px solid white;
  border-radius:3px;
  text-decoration:none;
}

.img a:hover{
  background-color:#3366FF;
}

table{
  width:90%;
  border-collapse:collapse;
}

.tablecont table{
  margin-bottom:50px;
}

.tablecont th{
  height:500px;
  color:white;
  font-weight:500;
  text-shadow:2px 2px 2px rgba(0,0,0,0.4);
  text-align:center;
}
.tablecont td{
  border-bottom:1px solid black;
  padding:20px;
}

.tablecont{
  display:flex;
  flex-direction:row;
}

.tablecont > div {
  display:flex;
  justify-content:center;
  flex-grow:1;
}

/*right align */
.ra{
  text-align:right;
}

h1{
  text-align:center;
}

hr{
  border:1px solid black;
}


.service{
  width:100%;
}

.service td{
  width:25%;
  padding-top:25px;
  padding-bottom:25px;
}

.servicecont {
  margin-left:5%;
  margin-right:5%;
}

.exit{
  font-size:45px;
  background-color:rgba(0,0,0,0);
  color:white;
  text-shadow:2px 2px 2px rgba(0,0,0,0.4);
  border:none;
  left:250px;
}

@media only screen and (max-width: 800px) {
  .tablecont{
    flex-direction:column;
  }
  .service td{
    display:block;
    width:100%;
  }
}
