.rm-db{
  background-image:url('https://s-ec.bstatic.com/images/hotel/max1024x768/370/37024558.jpg')
}
.rm-sut{
  background-image:url('https://media-cdn.tripadvisor.com/media/photo-s/01/9a/68/50/hotel-rooms.jpg');
}
.rm-tw{
  background-image:url('https://thundervalleyresort.com/TVCR/media/TVCR/Hotel/Rooms/Deluxe%202%20Queen%20Beds/deluxe_2_queen1.jpg');
}
table{
  width:100%;
}
th{
  height:500px;
  color:white;
  font-weight:500;
  font-size:40px;
  text-shadow:2px 2px 2px rgba(0,0,0,0.4);
}