
.warning {
  color:red;
  padding:10px;
  background-Color:pink;
}

.modal{
  background-Color: #fff;
  border-radius: 5px;
  max-width:500px;
  max-height:300px;
  margin: 0 auto;
  padding:30px;
}

.modalBack{
  position:fixed;
  top:0;bottom:0;left:0;right:0;
  background-Color:rgba(0,0,0,0.4);
  padding:50px;
}

.loginwrap{
  display:flex;
  justify-content:center;
  align-items:center;
}

hr{
  border:solid 1px black;
}

.nav{
  background-color:#111D4A;
  padding:10px;
  margin:5px;
  color:white;
}