.img{
  background-position:center;
  background-size:cover;
  background-color: rgba(0,0,0,0.4);
  background-blend-mode: multiply;
}
.img:hover{
  transition:0.5s ease-in-out;
  background-color:white;
  color:#3366FF;
}

.rm-db{
  background-image:url('https://s-ec.bstatic.com/images/hotel/max1024x768/370/37024558.jpg');
}
.rm-sut{
  background-image:url('https://media-cdn.tripadvisor.com/media/photo-s/01/9a/68/50/hotel-rooms.jpg');
}
.rm-tw{
  background-image:url('http://d375ae1fca1d4b7a3a67-29998576884a96728fe401e15266234f.r59.cf1.rackcdn.com/lps/assets/u/Deluxe-Seaview-Room.jpg');

}

table{
  width:95%;
  border-collapse:collapse;
}

.tablecont table{
  margin-bottom:50px;
}

.tablecont th{
  height:500px;
  color:white;
  font-weight:500;
  font-size:40px;
  text-shadow:2px 2px 2px rgba(0,0,0,0.4);
  text-align:right;
}
.tablecont td{
  border-bottom:1px solid black;
  padding:20px;
}

.tablecont{
  display:flex;
  flex-direction:row;
}

.tablecont > div {
  display:flex;
  justify-content:center;
  flex-grow:1;
}

/*right align */
.ra{
  text-align:right;
}

.service td{

}

.hide{
  display:none;
}

.zoomed{
  position:fixed;
  z-index:100;
  width:100%;
  height:100%;
  top:0;
  left:0;
}

.exit{
  font-size:45px;
  background-color:rgba(0,0,0,0);
  color:white;
  text-shadow:2px 2px 2px rgba(0,0,0,0.4);
  border:none;
  left:250px;
}

@media only screen and (max-width: 800px) {
  .tablecont{
    flex-direction:column;
  }
  .service td{
    display:block;
  }
}