/* @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); */

/* essential color: #3366FF(stellar navy) */

.navBar a{
  text-decoration:none;
  color:black;
  transition:200ms;
  position: relative;
}
.navBar a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #3366FF;
  transition: 0.4s;
}
.navBar a:hover:after {
  width: 100%;
}
.navBar a:hover{
  color:#3366FF;
}

.navBar nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%
}

.navBar{
  display:flex;
  justify-content:center;
  width:100%;
  height:70px;
  transition:background-color 500ms;
  box-shadow:0px 1px 2px rgba(0,0,0,0.2);
  background-color:white;
}
a.navReserv{
  background-color:black;
  color:white;
  padding:25px;
}
a.navReserv:hover{
  background-color:orange;
  color:#222;
}
.navLogo{
  font-weight:500;
  font-size:20px;
  padding:0 0 0 25px;
}

.fixedDisp{
  position:fixed;
  width:100%;
  z-index:99;
}

.topVoid{
  height:70px;
}

/* recommended size for desktop 1366x768 */
body{
  border:0;
  margin:0;
  font-family:"Noto Sans KR";
}

.footer{
  text-align:center;
  margin-top:40px;
  padding-top:30px;
  padding-bottom:30px;
  background-color:#393D3F;
  color:#F2F2F2;
}
.footer p{
  margin:0;
  border:0;
  padding:0;
}


/* for side nav effect */
/* The side navigation menu */
.sidenav {
    position:fixed;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 101; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
}

#btnNav{
  position:fixed;
  z-index:100;
  background-color:#3366FF;
  border:none;
  font-size:30px;
  color:white;
  opacity: 0.4;
  top:10px;
  left:10px;
  width:50px;
  height:50px;
  border-radius:30px;
  box-shadow:2px 2px 2px rgba(0,0,0,0.4);
  transition:0.5s ease-in-out;
}

#btnNav:hover{
  transition:0.5s ease-in-out;
  opacity:1;
}

#btnNav:active{
  opacity:1;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media only screen and (max-width: 800px) {
  .navBar {
    display:none;
  }
  .topVoid{
    height:20px;
  }
}

@media only screen and (max-width: 900px) {
  .navBar a{
    font-size:14px;
  }
}

@media only screen and (min-width: 800px) {
  #btnNav {
    display:none;
  }
}
